.avatar {
    max-width: 15rem;
    min-width: 15rem;
    align-content: center;
    margin: 0 auto;
    display:block;
}

#cardFixedHeight {
    min-height: 6.3rem;
    text-align: center;
    align-content: center;
}

#CharacterItem {
    border-radius: 1rem!important;
}

#CharacterItemImg {
    border-radius: 50%;

}